@import url();

.fundo{
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(http://picsum.photos/600/1200/?blur)
                  center no-repeat,
                  linear-gradient(to bottom, #ef32d9, #89fffd, #f34848);
  background-blend-mode: overlay;
}

.conteudo {
  font-family: 'Indle Flower', cursive;
  background: #ffffffbb;
  margin: 0 24px;
  padding: 12px;
  border-radius: 16px;
}

.frase{
  font-size: 30px;
}

.autor{
  font-size: 20px;
  font-weight: bold;
  text-align: end;
}

.fade-in {
	animation: fade-in 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
